# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: Azure Pipelines

variables:
  config_name: 'raspberrypi4_64_defconfig'

jobs:
- job: Build
  timeoutInMinutes: 720
  steps:
  - bash: |
      # Write your commands here
      unset SYSTEM
      make $(config_name)
      make
  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: sdcard.img
      StoreAsTar: true
      PathtoPublish: '$(System.DefaultWorkingDirectory)/output/images/sdcard.img'
                      
